body {
    background-color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

div {
    margin: 0px;
    padding: 0px;
}

.row {
    float: left;
    clear: left;
}

.col_left {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.col_right {
    float: left;
    margin-top: 10px;
}

.bigtext {
    font-size: 2em;
    font-weight: bold;
    font-variant: small-caps;
    text-align: right;
}

.bigbox {
    font-size: 2em;
    border: 1px solid #202020;
    padding: 4px;
    width: 1.2em;
    text-align: center;
}

table, tr, td {
    padding: 4px;
    margins: 0px;
    border-collapse: collapse;
}
